<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wolt backend pre-assignment tester</title>
	</head>
	<body>
		<form action="/restaurants/search" method="GET">
			<div>Search string:
				<input type="text" name="q">
			</div>
			<div>Latitude (-90.0 (S) .. 90.0 (N) degrees):
				<input type="text" name="lat">
			</div>
			<div>Longtitude (-180.0 (W) .. 180.0 (E) degrees):
				<input type="text" name="lon">
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>

		<h2 id="results_title">Results:</h2>
		<div>

		</div>
	</body>
</html>